<launch>
  <node name="global_planner" pkg="global_planner" type="planner" output="screen" >
  <param name="/use_sim_time" value="false"/>
    <rosparam file="$(find global_planner)/nao_costmap_params.yaml" command="load" ns="costmap" />
    <rosparam file="$(find global_planner)/planner.yaml" command="load" ns="planner" />
  </node>
</launch>
